/* MENU
0 - Geral
1 - Nav bar
2 - Home
3 - Descrição
4 - Bolinhas de café
5 - Lojas
6 - Newsletter
7 - Footer
*/

/* 0 -GERAL */

:root {
    --preto: #202020;
    --branco: #ffffff;
    --bege-claro: #E9E5D9;
    --bege-escuro: #D8D4C9;
    --marrom: #512400;
    --amarelo: #E8A744;
    --laranja: #D97232;
}

header {
    height: 80px;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
}

/* 1-NAV BAR*/

nav {
    text-align: right;
    
}

nav ul {
    width: 90%;
    margin: -26px;
}

nav ul li {
    display: inline;
    margin: 30px 20px;

}

nav ul li :nth-child(4){
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: var(--branco);
    font-family: Georgia;
    transition: 0.3s;
}

nav a:hover {
    border-bottom: solid 3px var(--branco);
    transition-duration: 0.3s;
    transition-property: left right;
    transition-timing-function: ease-out;
}

header .image{
    margin-top: 20px;
    margin-left: 130px;
}

/* 2 -HOME */

.home {
    font-family: Georgia, serif;
    color: var(--branco);

}
.home .intro {
    width: 100%;
    height: 600px;
    background-image: url("../img/bg-intro.jpg");
    background-color: orange;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}



.home .title {
    display: table;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 90px;
    word-spacing: 9px;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
}
.home p{
    margin: 320px 0px;
    font-style: italic;
    font-size: 1.275em;

}
.home .tracinho{
    position: relative;
    background-color: var(--branco);
    width: 30px;
    height: 4px;
    border-radius: 20%;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: table;
}

/* 3 -DESCRIÇÃO */

.description {
    text-align: center;
    color: var(--preto);
}

.description .subtitle{
    font-weight: bold;
    font-size: 2.275em;
    margin-top: 70px;
    margin-bottom: 50px;
    word-spacing: 3px;
}

.description .container {
    display: inline-block;
    width: 500px;
    margin: 8px;
    text-align: left;
}

.description .container .pics {
    margin: 0px 0px 0px 0px;
}

.description .container .box {
    font-size: 2em;
    font-style: italic;
    background-color: var(--preto);
    color: var(--branco);
    display: inline-block;
    margin: -15px 0px 0px 0px;
}

.description .container #amor{
    padding: 5px 57px;
} 

.description .container #perfeicao{
    padding: 5px 30.36px;
} 

.description .text {
    width: 30%;
    margin: 45px auto;
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 70px;
}

/* 4 -BOLINHAS DE CAFE */

.coffe {
    background-color: var(--bege-claro);
    border-top: solid 3px var(--bege-escuro);
    border-bottom: solid 3px var(--bege-escuro);
    text-align: center;
    padding-bottom: 30px;
    
}

.coffe .outside #amarelo {
    background-color: var(--amarelo);
    box-shadow: 0px 0px 0px 10px var(--amarelo);
}

.coffe .outside #marrom {
    background-color: var(--marrom);
    box-shadow: 0px 0px 0px 10px var(--marrom);
}

.coffe .outside #laranja {
    background-color: var(--laranja);
    box-shadow: 0px 0px 0px 10px var(--laranja);
}

.coffe .outside .ball {
    background-color: var(--marrom);
    height: 110px;
    width: 110px;
    border: solid 5px var(--bege-claro);
    border-radius: 100%;

    margin: 30% 50% -10px 50%;
    transform: translate(-50%, -50%);
}

.coffe .estado{
    margin: 20px 0px; 
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px;

}
.coffe .txt {
    margin: 5px 0px; 
    width: 100%;
    font-size: 1em;
    text-align: left;
    font-family: Georgia, serif;
}

.coffe ul .outside{
    width: 20%;
    display: inline-block;
    margin: 25px;
}

/* 5 -LOJAS */

.button {
    margin-top: 20px;
    padding: 15px 20px;
    color: black;
    background-color: rgba(0,0,0,0);

    font-family: Georgia, serif;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 1.5em;
    border:solid 3px black;
    transition: 0.3s;
}

.button:hover {
    background-color: #202020;
    color: var(--branco);
    transition: 0.3s;
}

.lojas .local {
    display: inline-flex;
    margin: 20px 10%;
    font-family: Georgia, serif;
    text-align: left;
}

.lojas .local .texto_local {
    display: inline-block;
    margin: 0px 0px 0px 27px;
    vertical-align: top;
}

.lojas .texto_local h2 {
    font-size: 2.7em;
    font-weight: bold;
    

}
.lojas .texto_local p {
    width: 30%;
    font-size: 1em;
    margin: 17px 0px;
}
.lojas .texto_local .button {
    margin-top: 10px;
}

/* 6 -NEWSLETTER */

.newsletter {
    background-color: var(--bege-claro);
    height: 170px;
    font-family: Georgia, serif;
    text-align: left;

}

.newsletter .container{
    max-width: 1200px;
    margin: auto;
}

.newsletter form {
    display: inline-block;
    vertical-align: text-bottom;
    float: right;
    margin: 50px 0 0 0;
}

.newsletter .send {
    font-family: Georgia, serif;
    background-color: #202020;
    color: var(--branco);
    padding: 10px 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: -3px;
    border: solid 2px var(--preto);
    margin-left: -4px;
    vertical-align: bottom
}
.newsletter .email {
    width: 320px;
    height: 44px;
    border: solid 2px var(--preto);
    background-color: var(--bege-claro);
}

.newsletter .texto_news {
    margin: 50px 0 0 0;
    display: inline-block;
    float: left;
}

.newsletter h2 {
    font-size: 2.75em;
    font-weight: bold;
    letter-spacing: 1px;
}

.newsletter p {
    font-size: 1.3em;
    font-style: italic;
}

.newsletter .email::-webkit-input-placeholder {
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 1.75em;
    margin-right: 5px;
}

/* 7 -FOOTER */

.footer {
    background-color: var(--bege-escuro);
    height: 130px;
}

.footer .container {
    max-width: 1200px;
    margin: auto;
}

.footer .texto_footer {
    margin: 50px 0 0 0;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style: italic;
    float: left;
}
.footer img {
    margin: 50px 0 0 0;
    display: inline-block;
    float: right;
}

@media (max-width: 1024px){

    .lojas .local img {
        height: auto;
        width: auto;
        max-width:440px; /* you can use % */
        max-height:200px ;
    }
    .lojas .local p {
        width: unset;
    }
    .description .container {
        width: 250px;
    }
    .description .container .pics {
        height: auto;
        width: auto;
        max-width:230px; /* you can use % */
        max-height:200px ;
    }
    .description .text {
        width: 65%;
    }
    .newsletter h2 {
        font-size: 1.57em;
    }
}

@media (max-width: 740px){

    nav {
        position: relative;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
    }

    nav ul {
        width: 100%;
        margin: 0px;
    }

    .home .intro{
        height: 270px;
    }

    .home .title {
        width: 253px;
        font-size: 1.725em;
    }

    .home .tracinho {
        top: 40%;
    }

    .home p {
        margin: 0;
        position: relative;
        top: 46%;
        font-style: italic;
        font-size: 0.95em;
    }

    nav ul li {
        margin: 0 10px
    }

    header .image {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 50%;
        transform: translate(-50%) 
    }

    .description .container .box {
        margin: -15px 0 0 30px;
    }

    .description .text {
        width: 92%;
    }

    .coffe ul .outside{
        width: unset;
        display: unset;
    }

    .lojas .local{
        display: unset;
    }

    .lojas .local img {
        height: auto;
        width: auto;
        max-width: 340px;
        max-height: 140px;
        margin: 10px 0;
    }
    .lojas .local p{
        margin: 7px 0;
    }

    .lojas .texto_local .button{
        margin:10px;
    }

    .newsletter{
        height: 200px;
    }

    .newsletter form {
        margin-top: 2px;
    }

    .newsletter .texto_news {
        margin-top: 20px;
    }

    .footer img {
        margin: 0 10px;
        float: none;
    }

    .footer .texto_footer{
        margin-top: 10px;
    }
}